body {
	font-size: 1em; /* reset */
}

.navbar {
	height: 60px;
	background: linear-gradient(#ccc, #999);
	border-radius: 0px;
	margin-bottom: 25px;
}

.navbar > .container-fluid > .navbar-header {
	width: 100%;
	margin-left: 0px; /* for some reason, default is -15px */
}

@media (max-width: 767px) {
	#wrapper {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.container-fluid {
	padding-top: 12px;
}

small {
	color: #777;
}

small > span {
	color: #bbb;
}

h3 {
	color: #777;
}

h4 {
	margin-top: 0px;
	color: #777;
}

div#empty-div-left {
	content: " ";
}

div#empty-div-right {
	content: " ";
}

img#semantic-icon:before {
	content:" ";
	width: 180px;
	height: 40px;
	clear: both;
}

img#semantic-icon {
	display: block;
	width: 180px;
	height: 40px;
	margin: 0 auto;
	margin-top: -38px;
}

section.description {
	margin-top: 40px;
	margin-bottom: 70px;
	margin-right: 20px;
}

.glyphicon {
	color: #505fbc;
}

#nav-menu {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 0px;
}

#search-button {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 0px;
	float:right;
	margin-right: 0px;
}

img#one-account {
	display: block;
	width: 200px;
}

img#across-devices {
	display: block;
	width: 350px; /* collapsible to smaller image */
}

#account-form {
	border-left: 2px solid #ccc;
}

@media (max-width: 767px) {
	#account-form {
		border-left: 0px solid #ccc;
	}
}

.form-group {
	margin-bottom: 10px;
}

label {
	margin-right: 15px;
}

.float-right {
	float: right;
}

.display-inline-block {
	display: inline-block;
}

#exampleInputDOB1, #exampleInputDOB2 {
	width: 30px;
}

#exampleInputDOB3, #exampleInputTel3 {
	width: 45px;
}

#exampleInputTel1, #exampleInputTel2 {
	width: 35px;
}

.form-control#exampleInputDOB1, .form-control#exampleInputDOB2 {
	padding: 0px 6px;
}

.form-control#exampleInputDOB3, .form-control#exampleInputTel3 {
	padding: 0px 6px;
}

.form-control#exampleInputTel1, .form-control#exampleInputTel2 {
	padding: 0px 6px;
}

#exampleInputZipcode {
	width: 80px;
}

#inlineRadio1, #inlineRadio2 {
	margin-top: 0px;
}

span.gender {
	padding-left: 5px;
	padding-right: 10px;
	font-size: 9pt;
	color: #777;
}

.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 28px;
	height: 28px;
	top: 0;
  	left: 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.checkboxFive label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 17px;
	height: 9px;
	background: transparent;
	top: 7px;
	left: 5px;
	border: 2px solid #505fbc;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkboxFive input[type=checkbox] {
	display: none;
}

/* Create the checkbox state for the tick */

.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.checkbox-indent {
	margin-left: 35px;
}

button#next-step {
	color: white;
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #505fbc;
}

/* stylized radio buttons */
/* #inlineRadio1, #inlineRadio2 */

/* XXXXXXXXXXXXXXXXXX */


input[type="radio"] {
/*  border: 0; */
  clip: rect(0 0 0 0); 
/*  height: 1px; */
/*  margin: -1px; */
 /* overflow: hidden; 
/*  padding: 0; */
  position: absolute; 
	/*width: 1px;*/
}

input[type="radio"] + span::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: -0.25em;
  background: white;
  border-radius: 15px;
/*  border: 3px solid #fff;*/
  box-shadow: 0 0 0 1px #bbb;
  margin-right: 8px;
/*  outline: blue solid medium;*/
/*  transition: 0.5s ease all;*/
}

/*#pretty  {
	margin-left:20px;
	padding-left:10px;
}*/


input[type="radio"]:checked + span::before {
  background: #bbb;
/*  box-shadow: 0 0 0 4px #ccc;*/
/*  outline: blue solid medium;*/
}

/*input[type="radio"]:focus + span::after {  
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;  
} */

.inner {
	margin-left: 5px;
}


/*#inner {
	content: '';
	display: inline-block;
	margin-left: -22px;
	width: 20px;
	height: 20px;
	vertical-align: -8px;
	border-radius: 20px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 4px green;
	opacity: 0.5;
	margin-right: 8px;
}*/

/* XXXXXXXXXXXXXXX */

/*
input[type="radio"] {
	border: 10; 
	/*clip: rect(0 0 0 0); */
	/*height: 1px; margin: -1px; */
/*	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	/*width: 1px;*/ /*
}

input[type="radio"] {
	margin-right: 30px; 
/*	padding: 6px;*/   /*
}

input[type="radio"]:checked {
	background-color: yellow;
	border-right: 4px solid yellow;
}

/*input[type="radio"]:disabled + label {
	color: #BBB;
	background-color: #444;
	border-right: 4px solid #444;
}*/
/*
input[type='radio'] + span {
    display:inline-block;
    width:16px;
    height:16px;
    margin-left:2px;
    margin-right: 3px;
    vertical-align:middle;
    -moz-border-radius:  50%;
    border-radius:  50%;
    background-color: #ccc;
}

input[type='radio'] + span > .inner > .gender {

    -moz-border-radius:  50%;
    border-radius:  50%;
    background-color: #ccc;
}

/*input[type="radio"]:disabled + label span {
     background-color: #333;
     cursor:default;
}*/

/*input[type="radio"]:disabled + label span .inner {*/
/*	margin-left: 10%;
	margin-top: 10%;*/
/*    width:12px;
    height:12px;
    -moz-border-radius:  50%;
    border-radius:  50%;
    background-color: #888;
}*/
/*
input[type="radio"] + span .inner {  
	margin-right: 40px;
/*	margin-left: 10%;
	margin-top: 10%;*/
/*    width:12px;
    height:12px;
    -moz-border-radius:  50%;
    border-radius:  50%;*/   /*
    background-color: green;  
}

input[type="radio"]:checked + span {
     background-color: red;
}*/
