.navbar {
	height: 60px;
	background: linear-gradient(#ccc, #999);
	border-radius: 0px;
}

.navbar > .container-fluid > .navbar-header {
	width: 100%;
	margin-left: 0px; /* for some reason, default is -15px */
}

.container-fluid {
	padding-top: 12px;
}

img#semantic-icon:before {
	content:" ";
	width: 180px;
	height: 40px;
	clear: both;
}

img#semantic-icon {
	display: block;
	width: 180px;
	height: 40px;
	margin: 0 auto;
	margin-top: -38px;
}

section.description {
	margin-top: 30px;
	margin-bottom: 50px;
	margin-right: 20px;
}

button {
	background-color: red;
}

.glyphicon {
	color: #3366cc;
}

#nav-menu {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 0px;
}

#search-button {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 0px;
	float:right;
	margin-right: 0px;
}

img#one-account {
	display: block;
	width: 200px;
}

img#across-devices {
	display: block;
	width: 350px; /* collapsible to smaller image */
}

#account-form {
	border-left: 2px solid gray;
}