body {
	font-size: 1em; /* reset */
}

.navbar {
	height: 60px;
	background: linear-gradient(#ccc, #999);
	border-radius: 0px;
	margin-bottom: 25px;
}

.navbar > .container-fluid > .navbar-header {
	width: 100%;
	margin-left: 0px; /* for some reason, default is -15px */
}

@media (max-width: 767px) {
	#wrapper {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.container-fluid {
	padding-top: 12px;
}

small {
	color: #777;
}

small > span {
	color: #bbb;
}

h3 {
	color: #777;
}

h4 {
	margin-top: 0px;
	color: #777;
}

div#empty-div-left {
	content: " ";
}

div#empty-div-right {
	content: " ";
}

img#semantic-icon:before {
	content:" ";
	width: 180px;
	height: 40px;
	clear: both;
}

img#semantic-icon {
	display: block;
	width: 180px;
	height: 40px;
	margin: 0 auto;
	margin-top: -38px;
}

section.description {
	margin-top: 40px;
	margin-bottom: 70px;
	margin-right: 20px;
}

.glyphicon {
	color: #505fbc;
}

#nav-menu {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 0px;
}

#search-button {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 0px;
	float:right;
	margin-right: 0px;
}

img#one-account {
	display: block;
	width: 200px;
}

img#across-devices {
	display: block;
	width: 350px; /* collapsible to smaller image */
}

#account-form {
	border-left: 2px solid #ccc;
}

@media (max-width: 767px) {
	#account-form {
		border-left: 0px solid #ccc;
	}
}

.form-group {
	margin-bottom: 10px;
}

label {
	margin-right: 30px;
}

.float-right {
	float: right;
}

.display-inline-block {
	display: inline-block;
}

#exampleInputDOB1, #exampleInputDOB2 {
	width: 30px;
}

#exampleInputDOB3, #exampleInputTel3 {
	width: 45px;
}

#exampleInputTel1, #exampleInputTel2 {
	width: 35px;
}

.form-control#exampleInputDOB1, .form-control#exampleInputDOB2 {
	padding: 0px 6px;
}

.form-control#exampleInputDOB3, .form-control#exampleInputTel3 {
	padding: 0px 6px;
}

.form-control#exampleInputTel1, .form-control#exampleInputTel2 {
	padding: 0px 6px;
}

#exampleInputZipcode {
	width: 80px;
}

#inlineRadio1, #inlineRadio2 {
	margin-top: 0px;
}

span.gender {
	padding-left: 5px;
	padding-right: 10px;
	font-size: 9pt;
	color: #777;
}

.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 28px;
	height: 28px;
	top: 0;
  	left: 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.checkboxFive label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 17px;
	height: 9px;
	background: transparent;
	top: 7px;
	left: 5px;
	border: 2px solid #505fbc;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkboxFive input[type=checkbox] {
	display: none;
}

/* Create the checkbox state for the tick */

.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.checkbox-indent {
	margin-left: 35px;
}

button#next-step {
	color: white;
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #505fbc;
}

input[type="radio"] {
  clip: rect(0 0 0 0); 
  position: absolute; 
}


input[type="radio"] + span::before {
	content: url(radio.svg);
/*	background-size: 30px 30px;*/
	display: inline-block;
	width: 30px;
	height: 30px;
/*  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: 0.05em;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 0 1px #bbb;
  margin-left: 0px;*/
}


input[type="radio"]:checked + span::before { 
/*  background: #bbb;*/
	content: url(radio_selected.svg);
/*	background-size: 30px 30px;*/
	display: inline-block;
	width: 30px;
	height: 30px;
}

span.inner {
	color: #777;
	font-size: 12px;
	font-weight:400;
	position: absolute;
	margin-top: 10px;
}


/* CREATE RADIO buttons with SVG */

/*
<!DOCTYPE html>
<html>
<body>

<svg height="100" width="100">
  <circle cx="50" cy="50" r="40" stroke="gray" stroke-width="3" fill="white" />
  <circle cx="50" cy="50" r="20" stroke="black" stroke-width="4" fill="gray" />
  Sorry, your browser does not support inline SVG.  
</svg> 
 
</body>
</html>
*/

#radio-outline3 {
	content: url(radio.svg);
	display: inline-block;
	width: 30px;
	height: 30px;
}

#radio-outline4 {
	content: url(radio_selected.svg);
	display: inline-block;
	width: 30px;
	height: 30px;
}

/* radio 1 and 2 stuff deleted */

/*label {
	margin-right: 30px;
}*/

#radios {
	margin-left: -6px;
/*	height: 30px !important;*/
}

.radio-label {
	margin-right: 30px;
/*	height: 30px !important;*/
}

.neg-bottom {
	margin-bottom: -5px;
}